body {
	margin: 0;
	padding: 0;
}

#root {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-row {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
